<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default_layout}">
<head>
<meta charset="UTF-8">
<title>Workspaces</title>
</head>
<body>
<div layout:fragment="main-content">
<div th:class="@{container mt-3}">
<h3>Workspace Listing Page</h3>
<div th:if="${not #lists.isEmpty(workspaces)}">
	<ul th:class="@{list-group}">
		<li th:class="@{list-group-item}" th:each="workspace: ${workspaces}">
			<div th:class="@{d-flex flex-row}">
				<div th:class="@{d-flex flex-column}">
					<a th:class="@{fw-bold link-primary link-offset-1 link-underline link-underline-opacity-0 link-underline-opacity-100-hover}" th:href="@{/}" th:text="${workspace.name}"></a>
				</div>
			</div>
			
			<span th:text="${workspace.owner}"></span>
			<div th:class="@{d-block}" th:text="${workspace.description}"></div>
		</li>
	</ul>
</div>
<a th:href="@{/workspaces/new}" th:class="@{btn btn-sm btn-primary mt-2}">Create</a>
</div>
</div>
</body>
</html>