<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{ISO8601} %highlight([%-5level]) [%magenta(%-16t)] %cyan(%logger) : %msg %n%throwable
			</pattern>	
		</encoder>
	</appender>
	
	<logger name="org.springframework" level="ERROR" />
	<logger name="_org.springframework" level="ERROR" />
	<logger name="org.hibernate" level="ERROR" />
	<logger name="org.hibernate.SQL" level="DEBUG" />
	<!-- <logger name="org.hibernate.type" level="TRACE" /> -->
	<logger name="com.zaxxer" level="ERROR" />
	<logger name="org.apache" level="ERROR" />
	<logger name="org.thymeleaf" level="ERROR" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>